# Node.js dependencies
node_modules/
npm-debug.log
yarn-error.log

# Vite / React / frontend build
dist/
.env
*.local

# Backend build / logs
logs/
*.log
.env
.DS_Store

# Optional system files
Thumbs.db
.idea/
.vscode/
